body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(66, 110, 87);
    color: azure;

}

a {
    color: rgb(248, 170, 225);
  }

a:visited {
    color: rgb(197, 78, 161); }

a:hover {
    color: rgb(177, 245, 156);
}

img {
width: 200px;
}

p{
    font-size: 14px;
    font-style: italic;
}

